body {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-family: "Lora", serif;
}

.wholePage {
  background-color: white;
  border: 400px #407088;
  border-style: solid;
  border-width: 2px;
  max-width: 600px;
  min-width: 300px;

  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 26px;
  padding: 10px;
}
