h1 {
  font-weight: bolder;
  margin-top: 14px;
}
ul {
  padding-left: 0px;
  list-style: none;
  font-weight: bold;
}

.units {
  position: relative;
  font-size: 16px;
  top: -18px;
}
.date {
  padding-top: 48px;
  font-size: larger;
  font-weight: bolder;
  padding-right: 20px;
}

.firstSection {
  padding-top: 5px;
}
.searchBar {
  border: solid;
  border-radius: 4px;
  border-width: 2px;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.searchBar:hover {
  padding: 2px;
}

.searchButton {
  border: solid;
  border-radius: 4px;
  border-width: 2px;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.searchButton:hover {
  padding: 2px;
}
.buttomSection {
  padding-top: 15px;
}

.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.faren {
  text-decoration: none;
  color: black;
}

.weather-temperature {
  color: black;
  text-decoration: none;
  cursor: default;
  font-size: 40px;
}

.weather-forecast {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 5px;
}
.weather-forecast-temperature {
  font-size: 15px;
}
